@mixin media($width) {
 	@media screen and (max-width: $width + "px") {
 		@content;
 	}
}

.team {
	padding: 54px 0 12px;
	background: #f2f2f2;
}

.team-container {
	margin: 72px auto;
	max-width: 1002px;
}

.team-item {
	margin: 0 42px;
	width: 250px;
	float: left;
}

.team-item__title {
	margin-top: 26px;
	color: #565656;
	font-size: 28px;
	font-weight: 500;
	line-height: 26px;

	span {
		color: #fc635e;
	}
}

.team-item__description {
	margin: 14px 0;
	color: #565656;
	font-size: 20px;
	font-weight: 300;
	line-height: 34px;
}

.team-social {
	margin: 0 auto;
	max-width: 165px;

	.fa {
		line-height: 37px;
		font-size: 1.3em;
		color: #fff;
	}
}

.team-social-twitter {
	&:hover {
		background: #00aced;
	}
}

.team-social-facebook {
	&:hover {
		background: #3b5998;
	}
}

.team-social-linkedin {
	&:hover {
		background: #0083be;
	}
}

.team-social-circle {
	margin: 0 9px;
	float: left;
	width: 37px;
	height: 37px;
	border-radius: 50%;
	background: #565656;
	cursor: pointer;
}




